{{- $environment := promptString "environment" -}}
[data]
  environment = "{{ $environment }}"

  {{ if eq $environment "home" }}
  email = "bmckenna805@users.noreply.github.com"
  gpgkey = "0A9879DF"
  {{ end }}

  {{ if eq $environment "work" }}
  email = "benjamin.mckenna@dotdashmdp.com"
  gpgkey = "5845478F"
  {{ end }}
